# Copy this file to .env and fill in your credentials

# NOTE: Make a NEW file named .env in the same directory as this file and add the following content,
# replacing the values with your actual database credential.
# IF you push this file with YOUR credentials, YOU will be sharing your database access
# with EVERYONE, which would suck.

DB_HOST=sql_port
DB_USER=linkblue
DB_PASSWORD=sql_db_password
DB_NAME=linkblue